<p id="notice"><%= notice %></p>

<h1>Listing Credit Card Charges</h1>

<table width="60%">
  <thead>
  <tr>
    <th colspan="3">
      <h1>Failed Charges</h1>
    </th>
  </tr>
  </thead>
  <% if @failed_charges.present? %>
      <tbody class="failed_charges">
      <% @failed_charges.each do |credit_card_charge| %>
          <tr>
            <td><%= credit_card_charge.customer.try(:full_name) || '—' %></td>
            <td><%= number_to_currency(credit_card_charge.amount / 100) %></td>
            <td><%= credit_card_charge.created_at.strftime('%c') %></td>
          </tr>
      <% end %>
      </tbody>
  <% end %>

  <thead>
  <tr>
    <th colspan="3">
      <h1>Disputed Charges</h1>
    </th>
  </tr>
  </thead>
  <tbody class="disputed_charges">
  <% if @disputed_charges.present? %>
      <% @disputed_charges.each do |credit_card_charge| %>
          <tr>
            <td><%= credit_card_charge.customer.try(:full_name) || '—' %></td>
            <td><%= number_to_currency(credit_card_charge.amount / 100) %></td>
            <td><%= credit_card_charge.created_at.strftime('%c') %></td>
          </tr>
      <% end %>
      </tbody>
  <% end %>

  <thead>
  <tr>
    <th colspan="3">
      <h1>Successful Charges</h1>
    </th>
  </tr>
  </thead>
  <tbody class="successful_charges">
  <% if @successful_charges.present? %>
      <% @successful_charges.each do |credit_card_charge| %>
          <tr>
            <td><%= credit_card_charge.customer.try(:full_name) || '—' %></td>
            <td><%= number_to_currency(credit_card_charge.amount / 100) %></td>
            <td><%= credit_card_charge.created_at.strftime('%c') %></td>
          </tr>
      <% end %>
      </tbody>
  <% end %>

  </table>

<br>

<%= link_to 'New Credit card charge', new_credit_card_charge_path %>
